<div id="updating_modal">
  <div style="display: table-cell; vertical-align: middle;">
    <div id="spinner"></div>
  </div>
</div>
<% form_tag :action => 'ec_cpia' do %>
    <div class="mips_home_tab">
      <h3 class="section_header">
        EC CPIA Submissions
        <span style="float: right;">
          <%= select_tag(:selected_attestation_method_id_submission_persist, options_for_select(@selected_x_year_attestation_methods, @selected_x_year_attestation_method_id), {:onchange => 'this.form.submit();'}) %>
        </span>
      </h3>
      <div class="mips_table_div scrolling_div">
        <div class="gray_header">
          <h3>
            <%= select_tag(:selected_attestation_clinic_id_submission_persist, options_for_select([['-- Select One --', -1]] + @selected_attestation_clinics_portal, @selected_attestation_clinic_id), {:onchange => 'this.form.submit();'}) %>
            Include Low Volumes <%= check_box_tag(:low_volume, '-1', @selected_low_volume == -1, {:onchange => 'this.form.submit();'}) %>
            <% if @x_clinic_event_attest_method and @selected_x_year_attestation_method.attestation_method.has_clinic_rollup? %>
                | <%= remove_tailing_zeroes(@x_clinic_event_attest_method.cms_cpia, 1) %> CMS
            <% end %>
          </h3>
        </div>
        <div class="mips_home_table_div">
          <% if @selected_attestation_clinic_id > 0 and @selected_x_year_attestation_method_id > 0 %>
              <table id="mips_quality_table">
                <% department_mips_scores = Department.Group_Departments_By_GroupID_ClinicID_EventID_XYearAttestationMethodID_UserDefinedFields_DepartmentOwnerID(@selected_group.id, @selected_attestation_clinic_id, @selected_event_id, @selected_x_year_attestation_method.id, ['-1'], @billing_info_fiscal_year.id, @selected_department_owner_id, @selected_low_volume, @selected_x_year_attestation_method.attestation_method.has_clinic_rollup?) %>
                <thead>
                <tr>
                  <td>Provider Name</td>
                  <td>NPI</td>
                  <td>Expected Score</td>
                  <td>CMS Score</td>
                  <td>Physician<br /> Compare Status</td>
                </tr>
                </thead>
                <tbody>
                <% department_mips_scores.each do |department| %>
                    <tr>
                      <td title="EC Name"><%= link_to display_department_name1(department), :controller => 'submission', :action => 'cpia_measures', :selected_side_nav_id => 12, :selected_department_id => department.id, :selected_attestation_clinic_id_submission_persist => department.attestation_clinic_id %></td>
                      <td title="NPI"><%= display_NPI(department) %></td>
                      <td title="Expected Score"><%= remove_tailing_zeroes(department.cpia, 1) %></td>
                      <td title="CMS Score"><%= remove_tailing_zeroes(department.cms_cpia, 1) %></td>
                      <td title="Physician Compare Status"></td>
                    </tr>
                <% end %>
                </tbody>
              </table>
          <% end %>
        </div>
      </div>
    </div>
<% end %>
